<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/primary_5.css">
  <link rel="stylesheet" href="css/secondary_10.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav></nav>
  <h1>Hey</h1>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <script src="js/script.js"></script>
</body>
</html>
