:root {
    --primary-text:         #000000;
    --primary-text-color:   #000000;
    --secondary-text:       #000000;
    --secondary-text-color: #000000;
    --primary:              #00acc1;
    --primary-light:        #5ddef4;
    --primary-dark:         #007c91;
    --secondary:            #bdbdbd;
    --secondary-light:      #efefef;
    --secondary-dark:       #8d8d8d;
}

nav {
    background-color: var(--primary);
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right-color: var(--secondary);
    border-bottom-color: var(--secondary);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: var(--secondary-light);
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--secondary-light);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--secondary);
}

.btn, .btn-large, .btn-small {
    background-color: var(--secondary);
}

/* #add-btn {
    margin-top: 14px;
    margin-bottom: 14px;
}

.extra-small {
    height: 25px;
    line-height: 25px;
} */

[type="checkbox"]:checked+.task {
    text-decoration: line-through;
}

[type="checkbox"]:not(:checked)+.task {
    color: var(--primary-text);
    transition: .2s;
}

/* .extra-hidden {
     border: 0;
     padding: 0;
     margin: 0;
}

.nav-padding {
     padding-left: 15px;
     padding-right: 15px;
} */

.inline-icon {
    vertical-align: bottom;
    font-size: 22px !important;
 }

 .card.upside-down {
    width: 100px;
    display: inline-block;
    margin-left: -99px;
}

.deck-container {
    padding-left: 100px
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
.tooltip:hover .tooltip-text {
    visibility: visible;
}