body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
}

a {
    color: #00B7FF;
}

.root-card {
    max-width: 100%;
    border-radius: 5%;
    padding: 0 !important;
    margin-bottom: 5px;
}

.root-back {
}

.hand {
    border: 1px solid #444;
    margin: 10px;
    padding: 10px;
    background-color: #dadada;
    border-radius: 5px;
}

.amount {
    width: 100%;
    text-align: center;
}

.btn-default {
    background-color: #eee !important;
    border: 1px solid #aaa !important;
}

.footer {
    position: relative;
    border: 1px solid;
    padding-top: 17px;
    height: 52px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.center {
    margin: auto;
}

.center-words {
    text-align: center;
}


@media (min-width: 768px) {
    .v-padding {
        height: 275px;
    }
}
